
body{
    background-color:rgb(235, 235, 235) ;
}
#recetario>h1{
    text-align: center;
    color: brown;
    border-bottom: solid 3px #aa8f8f;
    background: linear-gradient(-90deg, #cf8e91, #d8cece);
}
.principal{
    display: -webkit-flex;
    flex-flow: row wrap;
    background-color: rgb(236, 225, 225);
}

.enlace {
    color: blue;
}

.principal>div{
    box-sizing: border-box;

    
}
button.cajaRecetas{
    background-color: rgb(236, 205, 205);
}
.cajaReceta{
    width: 50%;
    padding: 1em;
    
}

.cajaRecetas>h1{
    color: brown;
    border-bottom: solid 2px #f8fbfc;
}
.cajaRecetas>p{
    color: brown;
}
.cajaRecetas>img{
    border-radius: 4px;
    box-shadow: 0 4px 4px #181717;
}
button.cajaRecetas{
    width: 100%;
    height: 100%;
}
button>img{
    width: 100%;

}
button>p{
    font-family: "Montserrat","Droid serif", Georgia, "Times New Roman", Times, serif;
    color: #576673;
    font-weight: bold;
    font-size:90%;
}
h1 {
    margin-bottom: 0.5em;
    border-bottom: solid 1px #dfe8eb;
    font-size: 2em;
    margin: .1em 0;
    
    
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat","Droid serif", Georgia, "Times New Roman", Times, serif;
    color: #576673;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.datosF {
    display: flex;
    justify-content: space-between;
}

button.retroceder {
    margin-top: 30px;
    border: none;
    background-color: #3d1313;
    color: #fcf8f8;
    height: 40px;
    font-size: 18px;
    width: 100%;
    border-radius: 9999px;
    font-family: 'Poppins', sans-serif;
  } 
  .pasos ol{
    counter-reset: li;
    margin-bottom: 10px;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px

}
.pasos ol li:not(:last-child) {
    border-bottom: solid 2px #d8bdbd;
}
.pasos ol li {
    position: relative;
    padding: .7em 0;
}
.pasos ol>li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: .7em;
    left: -2.7em;
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    color: #576673;
    background-color: #d8bdbd;
    text-align: center;
    font: 600 .8em "Montserrat";
    padding: .3em .6em;
}
.pasos ul, li {
    list-style: none;
    -webkit-padding-start: 0;
}
.pasos {
    font-size: 18px;
    clear: both;
}
.ingredientes {
    font-size: 18px;
    padding: 1em;
    background-color: #d8bdbd;
    margin: 0 0 1em 0;
    display: block;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.ingredientes ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 0.5em 0;
    
}
.ingredientes li {
    list-style: none;
    -webkit-padding-start: 0;
}
.ingredientes ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.ingredientes li {
    border-top: solid 2px #d2dee2;
    padding: 2px 0px;
    font-size: 18px;
}
.receta>h1{
    border-bottom: solid 2px #d8bdbd;
    padding: 2px 0px; 
}
.receta-imagen>img{
    border-radius: 4px;
    box-shadow: 0 4px 4px #181717;
    width: 60%;
    display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 2em;
  margin-top: 2em;
    
}
.consejosChef {
    font-size: 18px;
    padding: 1em;
    background-color: #d8bdbd;
    margin: 1em 0em 2em 0;
    display: block;
    border-radius: 30px;
    
}
.datos>p{
    font-size: 18px;
    color: black;
    display: inline-block;
    padding: .2em .8em;
    border-radius: 30px;
    background-color: #d8bdbd;
    margin: 0 .5em .5em 0;
}
.datos1>p{
    font-size: 18px;
    color: black;
    display: inline-block;
    padding: .2em .8em;
    border-radius: 30px;
    background-color: #d8bdbd;
    margin: 0 .5em .5em 0;
}
.autor {
    position: absolute;
    text-align: right;
    font-size: 18px;
    width: 95%;
    margin-top: 0;
  margin-right:1mm;
    color: brown;
    
   
}
.autor::before{
    content:"Por:  "; 
    color: #576673;
  }

.utensilios{
    margin-bottom: 3mm;
    font-size: 18px;
}
.utensilios ul{
    font-size: 18px;
    color: black;
    display: inline-block;
    padding: .2em .8em;
    border-radius: 30px;
    background-color: #cecbcb;
    margin: 0 0em .6em 0;
}  
.receta-video>iframe{
    width: 60%;
    height: 400px;
    display: block;
   margin-top: auto;
    margin-bottom:2em;
}
a::before{
    content:"ENLACE:  "; 
    color: #576673;
  }
a{
    color: brown;
}
.datos1>i{
    font-size: 18px;
    color: brown;
    display: inline-block;
    padding: .2em .8em;
    border-radius: 30px;
    background-color: #d8bdbd;
    margin: 0 .5em .5em 0;
}
.datos4>p{
    font-size: 18px;
    color: #576673;
    display: inline-block;
    padding: .2em .8em;
    border-radius: 30px;
    background-color: #d8bdbd;
    margin: 0 .5em .5em 0;
    border-bottom: solid 1px #924e51;
    
}
.descripcion{
    font-size: 18px;
    border-bottom:solid 2px #d8bdbd;
    border-top:solid 2px #d8bdbd;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}